Source: scraper-plugins-debugger
Section: utils
Priority: optional
Maintainer: Albert Schimpf <scraper@schimpf.link>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://wiki.scraper.server1.link
Vcs-Git: https://git.scraper.server1.link

Package: scraper-plugins-debugger
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Debugger Server
 Enables interactive debugging of workflows with a connected debugger frontend
